$btn-detail-color: #00bcd4;
$btn-remove-color: #d9534f;
$btn-add-color: #4caf50;
$white: #ffffff;
$black: #000000;
$primary-border: #000000;
// core overrides
$zIndex-max: 999999;

//colors
$opacity-color: rgba(0, 0, 0, 0.4);

@mixin fontDefault {
  font-size: 14px;
}

@mixin fontDefaultMobile {
  font-size: 12px;
}

$mobile-width: 576px;
$tablet-width: 768px;

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}

@mixin table {
  @media (max-width: $tablet-width - 1px) {
    @content;
  }
}
